body {
  font-family: Arial, sans-serif;
}

#infra-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#infra-list {
  max-height: 300px; /* 높이를 기준으로 스크롤 가능하도록 설정 */
  overflow-y: auto; /* 세로 스크롤을 가능하도록 설정 */
  overflow-x: hidden; /* 가로 스크롤을 감춥니다 */
}

.infra-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ccc; /* 회색으로 설정 */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* 가로 폭을 고정 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 요소의 크기를 지정 */
}

.infra-button:hover {
  background-color: #0056b3;
}
